<div class="news-letter" ng-controller="subscribeCtrl">
    <div class="container">
        <div class="join">
            <h2>انضم ليصلك اخر عروضنا</h2>
            <div class="sub-left-right">
                <form name="subscribeForm">
                    <input type="email" ng-class="{ 'has-error' : subscribeForm.emailSubscribe.$invalid && !subscribeForm.emailSubscribe.$pristine }"
                           required ng-model="emailSubscribe" id="emailSubscribe" name="emailSubscribe"
                           value="ادخل البريد الالكتروني"/>

                    <input
                          ng-disabled="subscribeForm.emailSubscribe.$dirty && subscribeForm.emailSubscribe.$invalid"
                          type="button" ng-click="subscribeAccount()" value="اشتراك"/>

                    <span style="color:red;float: right"
                          ng-show="subscribeForm.emailSubscribe.$dirty && subscribeForm.emailSubscribe.$invalid">
                                                            <span ng-show="subscribeForm.emailSubscribe.$error.required">يرجي ادخال البريد الالكتروني</span>
                                                   <span ng-show="subscribeForm.emailSubscribe.$error.email">البريد الالكتروني غير صالح</span>
                                                             </span>
                </form>
            </div>
            <!--<div class="clearfix"></div>-->
        </div>
    </div>
</div>
<!---footer--->
<div class="footer-w3l">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h4>عن الموقع </h4>
                <p>أتميدة اون لاين ستور يقدم خدمات بيع وتوصيل المنتجات من خلال هذا الموقع أو صفحات التواصل الاجتماعي</p>
                <div class="social-icon">
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Atmida-Online-Store-130541617578576/"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="#"><i class="fa fa-google"></i></a>
                    <a class="btn btn-social-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>الحساب</h4>
                <ul>
                    <li><a href="/profile">حسابي</a></li>
                    <li><a href="/login">تسجيل دخول</a></li>
                    <li><a href="/signup"> حساب جديد </a></li>
                    <li><a href="/help"> المساعدة </a></li>
                    <li><a href="/UsagePolicy">سياسة الاستخدام</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>المعلومات</h4>

                <ul>
                    <li><a href="/how_to_buy">كيف تشتري من أتميدة ستور ؟</a></li>
                    <li><a href="/">الرئيسية</a></li>
                    <li><a href="/offers">اخر العروض</a></li>
                    <li><a href="/brands">ماركات</a></li>
                    <li><a href="/cart">العربة</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid foot">
                <h4>تواصل معانا</h4>
                <ul>

                    <li>
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <a href="#">أتميدة - ميت غمر - الدقهلية</a>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <a href="#">050-480-5679 || 01210760822</a>
                    </li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <a href="mailto:example@mail.com"> AtmidaOnline@mail.com </a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---footer--->
<!--copy-->
<div class="copy-section">
    <div class="container">
        حقوق الملكية &copy; 2017 <span>أتميدة أون لاين ستور ..<img
                    src="../../public/media/AtmidaOnlineStoreWight.png"/></span>
        <div class="clearfix"></div>
    </div>
</div>
<!--copy-->
