<!--Start Footer-->
<div class="footer text-center">
     <div class="list-unstyled footer-links">
         <ul>
             <li> <a href="#">من نحن ؟</a> </li>
             <li> <a href="#">كيف تشتري من أتميدة ستور ؟</a> </li>
             <li> <a href="#">سياسة الارجاع والتبديل</a> </li>
             <li> <a href="#">تواصل معنا</a> </li>
             <li> <a href="#">اخر العروض</a> </li>
             <li> <a href="#">سياسة الاستخدام</a> </li>
             <li> <a href="#">المساعدة</a> </li>
         </ul>
     </div>
    <div class="copyright">
        حقوق الملكية &copy; 2017 <span>أتميدة أون لاين ستور ..<img
                    src="../../public/media/AtmidaOnlineStoreWight.png"/></span>
    </div>
</div>
<!--End Footer-->
