<% layout('layoutAccounts') %>
<title>حساب جديد</title>
<style>

    html,body {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom:0;
        margin: auto;
        background-image: url("../../public/media/login-bk.jpg");
        overflow: auto;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>

<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-offset-3">

            <div id="messages">
                <% Object.keys(messages).forEach(function (type) { %>
                <ul class="<%= type %>">
                    <% messages[type].forEach(function (message) { %>
                    <li><%= message %></li>
                    <% }) %>
                </ul>
                <% }) %>
            </div>

            <form method="post" action="/signup">
                <h1> حساب جديد </h1>
                <div class="form-group">
                    <label for="name">الاسم: </label>
                    <input type="text" class="form-control" name="name" placeholder="الاسم">
                </div>
                <div class="form-group">
                    <label for="email">الايميل: </label>
                    <input type="email" class="form-control" name="email" placeholder="الايميل">
                </div>
                <div class="form-group">
                    <label for="password">الرقم السري: </label>
                    <input type="password" class="form-control" name="password" placeholder="الرقم السري">
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="fa fa-sign-in"></i>
                    تسجيل حساب
                </button>
                <div class="form-group">
                    <br>
                    <a class="blackColor" href="/login">يمكنك الدخول مباشرة من خلال استخدام مواقع التواصل الاجتماعي</a>

                </div>

            </form>


        </div>
    </div>
</div>