<% layout('boilerplate') %>
<title> كيف تشتري من أتميدة أون لاين ستور </title>
<!--how to buy-->

<div class="new-arrivals-w3agile">
    <div class="container">

        <img src="../../public/media/how-to-buy.jpg" class="img-responsive"/>
        <br/><br/>
        <div class="list-group">
            <a href="#" class="list-group-item active text-center">كيف اشتري</a>
            <a href="#" class="list-group-item text-right">ابحث وتصفح المنتجات</a>
            <a href="#" class="list-group-item text-right">تعرف على المنتج، و قم بإضافتة إلى العربة</a>
            <a href="#" class="list-group-item text-right">مراجعة عربة التسوق الخاصة بك، وتسجيل الدخول للشراء</a>
            <a href="#" class="list-group-item text-right">تأكيد طلبك</a>
            <a href="#" class="list-group-item text-right"> تابع طلبك حتى يتم تسليمه على بابك</a>
        </div>
    </div>

</div>

<!--how to buy-->